.uppercase
{
    text-transform: uppercase;
}
.capitalize
{
    text-transform:capitalize
}
.float-left
{
    float:left;
}
.overflow-hidden
{
    overflow:hidden
}
.text-center
{
    text-align: center;
}